<h2>pick one of them: </h2><br><br>
<a href="/rps_results?pick=paper"><%= image_tag "paper.png" %></a>
<a href="/rps_results?pick=rock"><%= image_tag "rock.png" %></a>
<a href="/rps_results?pick=scissor"><%= image_tag "scissor.png" %></a>