<form action="/contact_submitted">
  The first name
  <input name="first" value=<%= @first%>></input><br><br>
  The last name
  <input name="last" value=<%= @last%>></input><br><br>
  <button>Submit</button>
</form>