<a href="/rps" ><h3>click to play again</h3></a>

<h2><%= @message%></h2>


<h3>you chose: </h3>

<% if @player_chosen != nil %>
	<%= image_tag "#{@player_chosen}.png" %>
<%else %>
    <h4>nothing selected</h4>	
<% end %>

<h3>computer chose: </h3>

<%= image_tag "#{@computer_chosen}.png" %>
